.container {
  min-height: 100vh;
}
.nav-bar {
  height: 20%;
  padding: 10px;
  background-color: #3367d6;
  display: flex;
  align-items: center;
}
.history-logo {
  width: 70px;
  margin-right: 90px;
  margin-left: 20px;
}
.search-container {
  display: flex;
  align-items: center;
  padding: 10px;
}
.search-icon-container {
  border: 1px solid #64748b;
  color: white;
  background-color: #2850a7;
  margin-right: 2px;
  padding: 5px;
}
.search-icon {
  height: 20px;
}
.input {
  border: 1px solid #64748b;
  color: white;
  background-color: #2850a7;
  outline: none;
  padding: 17px;
  height: 25px;
}
.un-li-container {
  margin: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.no-history {
  box-shadow: none;
  padding: 10px;
  font-family: 'Roboto';
  text-align: center;
}
